@import "mixin";
// .footer__wrapper{
//     background-image: url('../assets/footer.png');
//     background-size: cover;
//     width: 100vw;
// }
.footer__img_wrapper    {
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer__img{

    height: 100vh;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px 0;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content:center;
    @include media("max","xl"){
        padding: 30px 0;
    }
    .footer__column{
        margin: 0 200px;
        width: 250px;
        @include media("max","xl"){
            margin: 0 100px;
            width: 150px;
        }
        h2{
            display: flex;
            justify-content: center;
        }
    }
    .footer__column_inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .link{
            font-size: 20px;    
            @include media("min","xl"){
                font-size: 17px;
            }
        }

        @include media("min","xl"){
            .plain_text{
                font-size: 12px;
            }
          
        }
    }
    .footer__column_inner > *{
        padding: 5px 0;
       
    }
    .frs {
        font-size: 19px;

        @include media("min","xl"){
            font-size: 14px;
        }
        @include media("max","xl"){
            font-size: 12px;
        }
    }
    .ca{
        font-size: 10px;
    }
}
.footer > * {
    margin: 0 20px;
}
.footer__title{
    padding-bottom: 20px;
}
