.soon{
    .soon_video{
        width: 100vw;
        height: 100vh;
    }
    .soon_cloud{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: 2;

        animation: shake 10s linear 2s infinite;
        @keyframes shake {
            0%{
                transform: translate(-50%,-50%);
            }
            50%{
                transform: translate(-50%,-55%);
            }
            100%{
                transform: translate(-50%,-50%);
            }
        }
    }
    .soon__text{
        font-family: "Bangers";
        z-index: 3;
        position: absolute;
        left: 55%;
        top: 45%;
        transform: translate(-55%,-45%);
        color: black !important;
        font-size: 170px;
    }
}