@import "mixin";
.tokenomics{
    background-image: url('../assets/tokenomicsBG.jpeg');
    background-size: cover;
    
    width: 100vw;
    display: flex;
    justify-content: space-evenly;

    .tokenomics__image_container{
        
        display: flex;
        .tokenomics__man{
            position: relative;
            height: 100vh;
            transform: translate(-20%,0);
          z-index: 2;
          user-select: none;
          pointer-events: none;
          @media(max-width:1400px){
            transform: translate(-10%, 0);
    
            }
        }
        .tokenomics__car{
            user-select: none;
            position: absolute;
            left: 0;
            bottom: 0;
            pointer-events: none;
            transform: translate(-12%, 0%);
            width: 50%;

            @include media("max","xl"){
                transform: translate(-10%,0%);
                width: 90%;
            }
            @media(max-width:1400px){
                width: 90%;
        
                }
            }
       
        }
    }
    .tokenomics__text_container_wrapper{
        align-items: center;
    display: flex;
    flex-direction: column;
        
    }
    .tokenomics__title{
        letter-spacing: 10px;
        font-size: 70px;
        @include media("max","xl"){
            text-align: center;
            font-size: 40px;
            text-shadow: -3px 5px 4px rgba(0, 0, 0, 1);
        }
        
    }
    .tokenomics__text_container{
        align-items: center;
    display: flex;
    flex-direction: column;
    top: 50%;
    position: relative;
    transform: translate(0, -50%);
    @media(max-width:2200px){
        transform: translate(-40%, -50%);

    }
    @media(max-width:1600px){
        transform: translate(-55%, -50%);

    }

    @include media("max","xl"){
        transform: translate(-120%, -50%);

    }
        .tokenomics__blocks{
            padding-top: 20px;
            display: grid;
            justify-content: center;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
            position: relative;
            top: 50%;
            @include media("max","xl"){
                padding-top: 0;
                gap: 10px;
            }
            transform: translate(0,-50%);
            .tokenomics__block{
                width: 350px;
                padding: 30px 30px;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 20px;
                transition: transform 0.5s ease;
                @include media("max","xl"){
                    width: 150px;
                    padding: 20px 20px;
                }
                .number{
                    font-size: 45px;
                    @include media("max","xl"){
                        font-size: 30px;
                    }
                }
                .tokemics__block_subtitle{
                    padding: 10px 0;
                    line-height: 30px;
                    @include media("max","xl"){
                
                    }
                }
            }
            .tokenomics__block:hover{
                transform: scale(1.1);
            }
            .tokenomics__block:nth-child(1){
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row: 1;

            }
            .tokenomics__block:nth-child(2){
                grid-column-start: 3;
                grid-column-end: 5;
                grid-row: 1;

            }
            .tokenomics__block:nth-child(3){
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row: 2;
              

            }
            .tokenomics__block:nth-child(4){
                grid-column-start: 3;
                grid-column-end: 5;
                grid-row: 2;

            }
         
            .tokenomics__block > *{
                text-align: center;
            }
        }
    }
